<div class="row mr-3">
    <div class="col-xs-12">
        <div class="row mb-2">
            <div class="col-xs-12">
                <button type="button" class="btn btn-success mr-1" (click)="nuevoJugador()">Añadir Jugador</button>
                <button type="button" class="btn btn-danger mr-1" (click)="eliminarJugador()" >Eliminar Jugador</button>
                <button type="button" class="btn btn-secondary mr-1" (click)="volver()">Volver</button>
            </div>
        </div>
        <div class="row mb-2" *ngIf="formNuevoJugador">
            <app-nuevo-jugador (nuevoJugador)="agregarJuagdor($event)" (cancelarForm)="cerrarModal($event)"></app-nuevo-jugador>
        </div>
        <div class="row mb-2">
            <div class="col-xs-12">
                <input type="text" class="form-control" placeholder="Buscar jugador..." name="filtroInput"
                [(ngModel)]="filtroInput">
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <a class="list-group-item list-group-item-action flex-column align-items-center " style="cursor: pointer;"
                *ngFor="let jugadorEl of arrayJugadores | filtroJugadores:filtroInput " [ngClass]="{active: jugadorEl.id === jugadorSeleccionado}" (click)="guardarJugadorSeleccionado(jugadorEl.id)">
                    <h6 class="">{{jugadorEl.nombre}}<small> Edad: {{ jugadorEl.edad }}</small></h6>
                    <p>{{ jugadorEl.ciudad }}, {{ jugadorEl.pais }}</p>
                </a>
            </div>
        </div>     

        <div class="row mb-2" *ngIf="modalConfirmacion">
            <app-modal-confirmacion (confirmar)="confirmarEliminacion($event)"></app-modal-confirmacion>
        </div>
        
    </div>   

</div>