<nav class="navbar d-flex flex-column">
    <div class="container pt-3">
        <a class="navbar-brand col-xs-2 " href="#">
            <h2>Carolina Zapata </h2>
        </a>

        <div class="col-xs-7">
            <h2>Ligas de fútbol</h2>
        </div>

        <div class="col-xs-3">
            Usuario
        </div>

    </div>

    <div class="container mt-2 ">

        <ul class=" navbar-nav col-12  text-center d-flex flex-row justify-content-around">
            <li class="nav-item col-4" routerLinkActive="active">
                <a class="nav-link" style="cursor: pointer;" routerLink="/equipos">Equipos</a>
            </li>
            <li class="nav-item col-4" routerLinkActive="active">
                <a class="nav-link" style="cursor: pointer;" routerLink="/equipos">Jugadores</a>
            </li>
            <li class="nav-item col-4" routerLinkActive="active">
                <a class="nav-link " style="cursor: pointer;" routerLink="/equipos">Eventos</a>
            </li>
        </ul>

    </div>

</nav>