.completo{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    width: 100%;
}

.mitad{
    width: 40%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.jugadores{
    margin-left: auto;
}

@media screen and (max-width:480px) {
    .completo{
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 10px;
        width: 100%;
        margin: 1em;
    }
    
    .mitad, .divBuscador{
        display: none;
    }
    
}

