<div>
    <div class="row">
        <h4>Añadir Jugador</h4>
    </div>

    <div class="row">
        <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
            <div class="form-group col-xs-12">
                <label for="nombre">Nombre:</label>
                <input type="text" id="nombre" class="form-control" name="nombre" formControlName="nombre">
                <span class="help-block" *ngIf="!formulario.get('nombre').valid && formulario.get('nombre').touched">
                    Introduzca el nombre del jugador
                </span>
            </div>

            <div class="form-group col-xs-12">
                <label for="edad">Edad:</label>
                <input type="number" id="" class="form-control" name="edad" formControlName="edad">
                <span class="help-block" *ngIf="!formulario.get('edad').valid && formulario.get('edad').touched">
                    Introduzca la edad del jugador
                </span>
            </div>

            <div class="form-group col-xs-12">
                <label for="ciudad">Ciudad de nacimiento:</label>
                <input type="text" id="ciudad" class="form-control" name="ciudad" formControlName="ciudad">
            </div>

            <div class="form-group col-xs-12">
                <label for="pais">País de nacimiento:</label>
                <input type="text" id="pais" class="form-control" name="pais" formControlName="pais">
            </div>

            <div class="form-group col-xs-12">
                <button type="submit" class="btn btn-success mr-2" [disabled]="!formulario.valid">Guardar</button>
                <button type="submit" class="btn btn-success mr-2" (click)="cancelar()" >Cancelar</button>
            </div>
        </form>

    </div>


</div>